---
layout: default
---
<h1>{{ site.name }}</h1>
<h2>{{ site.description }}</h2>
<h3>{{ site.repository }}</h3>
{% include service-list-one.html %}
<!-- useful stuff
    site.data - data from the _data directory
-->

<h1>site</h1>
<ul>
    {% for x in site %}
        {% if x[0] != 'pages' %}
            <li><b>{{ x[0] }}:</b> {{ x[1] }}</li>
        {% endif %}

    {% endfor %}
</ul>

<h1>site.github</h1>
<ul>
    {% for x in site.github %}
    <li><b>{{ x[0] }}:</b> {{ x[1] }}</li>
    {% endfor %}
</ul>
